/* Стандартные стили для всех страниц */
.login__form{
    background-color: #fff;
    color: black;
}

/* Стили для полей ввода */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%; /* Ширина на всю ширину контейнера */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 4px; /* Скругление углов полей ввода */
    transition: border-color 0.3s; /* Плавный переход цвета рамки при фокусе */
}

/* Стили для полей ввода при фокусе */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
}

body {
    background-color: #dff1f1;
    color: #202020;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
    color: #1765b3;
}

strong {
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container{
    box-sizing: border-box;
    padding: 0 1vw;
    max-width: 69vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul {
    font-family: "Roboto-Regular";
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #1765b3;
    text-decoration: none;
}

a:hover {
    color: #104a82;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 9.7vw;
    height: 5.7vh;
    border-radius: 5px;
    padding: 10px 15px;

    background-color: #FF7F50;
    font-size: 16px;
    transition: opacity 0.3s;;
}

.btn:hover{
    background-color: #E5673F;
    opacity: 0.9;
}

.btn-primary {
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-info {
    display: block;
    margin: 10px auto 0;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.button-group .btn {
    flex: 1;
    margin: 0 10px;
}

.margin-tb {
    padding: 0;
}

/* Шапка */
.header {
    padding-top: 15px;
    background-color: #ffffff;
    flex-direction: row;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 20px;
}

.nav-menu {
    margin-right: 15px;
    display: flex;
}

.nav-menu a{
    margin-right: 15px;
}

.nav-menu .dropdown-item {
    margin-right: -15px;
}

.dropdown-menu {
    padding: 0;
}

.card-1 {
    margin-bottom: 80px;
}

@media (max-width: 1134px) {
    .nav-menu a {
        font-size: 14px;
    }
}

@media (max-width: 1094px) {
    .dropdown button {
        font-size: 16px;
    }
    .btn {
        font-size: 15.4px;
    }
    .header__title {
        font-size: 18px;
    }
}

@media (max-width: 1062px) {
    .nav-menu a{
        font-size: 13.5px;
    }
}

@media (max-width: 1005px) {
    .header__title {
        width: 295px;
    }
}

@media (max-width: 861px) {
    .header {
        flex-direction: column;
    }
    .header__title {
        width: 440px;
        margin-bottom: 10px;
        font-size: 19px;
    }
    .nav-menu {
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .nav-menu {
        margin-left: auto;
    }
}

@media (max-width: 727px) {
    .btn {
        width: 71px;
    }
}

@media (max-width: 600px) {
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 479px) {
    .nav-menu a {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .nav-menu a:nth-child(6) {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }
    .nav-menu div:nth-child(7) {
        grid-column: 4;
        grid-row: 2;
    }
}

@media (max-width: 444px) {
    .nav-menu {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .nav-menu a:nth-child(6) {
        grid-column: 1;
        grid-row: 3;
        margin: 0;
    }
    .nav-menu div:nth-child(7) {
        grid-column: 3;
        grid-row: 3;
    }
    .header__title {
        width: 360px;
        font-size: 15px;
    }
}


/* Footer */
.footer {
    background-color: #ffffff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 6.2rem 0;
}

.footer a {
    font-family: "Roboto-Regular";
    font-size: 0.76rem;
    opacity: 0.75;
    transition: 0.3s;
}

.footer a:hover {
    opacity: 0.9;
}

.footer ul {
    font-family: "Roboto-Medium";
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__nav .footer__list {
    display: flex;
    justify-content: space-between;

    width: 35vw;
    margin-right: 6.3rem;
}

.footer__list-item {
   padding-top: 0.76rem;
}

.footer__icons-list {
    display: flex;
    justify-content: space-between;

    width: 6.36vw;
}

.delivery-block {
    min-height: 47.7vh;
}

.delivery-card {
    margin-top: 2vh;
}


@media (max-width: 1560px) {
    .footer__list-title h3 {
        font-size: 18px;
    }
    .footer__list-item a {
        font-size: 11px;
    }
    .footer__socials h3 {
        font-size: 20px;
    }
}

@media (max-width: 1142px) {
    .footer__nav .footer__list {
        width: 410px;
    }
    .footer__icons-list {
        width: 8.4vw;
    }
}

@media (max-width: 800px) {
    .footer__nav .footer__list {
        margin-right: 50px;
    }
    .footer__icons-list {
        width: 15vw;
    }
    .footer__list-item  {
        margin-right: 10px;
    }
}

@media (max-width: 735px) {
    .footer .container {
        display: flex;
        flex-direction: column;
        padding: 40px 0 60px 0;
    }
    .footer__nav .footer__list {
        margin: 0;
        width: 440px;
    }
    .footer__socials {
        margin-top: 35px;
    }
    .footer__list-item {
        margin: 0;
    }
    .footer__icons-list {
        width: auto;
    }
}

@media (max-width: 512px) {
    .footer__nav .footer__list {
        width: 420px;
    }
}

@media (max-width: 470px) {
    .footer__nav .footer__list {
        width: 410px;
    }
}

@media (max-width: 444px) {
    .footer__nav .footer__list {
        width: 400px;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__inner-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__list-title {
        margin-bottom: 25px;
    }
    .footer__list-title h3 {
        font-size: 20px;
    }
    .footer__list-item a {
        font-size: 13px;
    }
    .footer__socials {
        margin-top: 10px;
    }
}
