/* Секция: Контакты */
.photo-item {
    position: relative;
    width: 300px;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.overlay h2 {
    font-size: 16px;
}

.photo-item__title {
    font-size: 16px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.photo-grid {
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление */
    min-width: 69vw;
}

.row {
    justify-content: space-around;
    margin: 10px;
}

.column {
    flex-basis: calc(33.33% - 10px); /* Каждая колонка занимает треть ширины с учётом отступов */
    padding: 0;
    margin: 0;
    flex-basis: 0;
}

.map iframe {
    height: 600px;
    width: 1000px;
}

.about__map{
    text-align: center;
}


@media (max-width: 1580px) {
    .column {
        width: 260px;
        padding: 0;
        margin: 0;
        flex-basis: 0;
    }
    .photo-item {
        width: 260px;
        height: 310px;
    }
    .map iframe {
        height: 550px;
        width: 57vw;
    }
}

@media (max-width: 1311px) {
    .photo-item {
        width: 240px;
        height: 290px;
    }
    .overlay {
        padding: 8px;
    }
    .overlay h2 {
        font-size: 14px;
    }
    .overlay p {
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .row {
        justify-content: space-around;
        margin: 5px 0;
    }
}

@media (max-width: 1100px) {
    .rows {
        display: flex;
    }
    .row {
        justify-content: center;
    }
    .photo-item {
        margin-bottom: 25px;
    }
    .map iframe {
        height: 500px;
    }
}

@media (max-width:777px) {
    .rows {
        flex-direction: column;
    }
    .row {
        justify-content: center;
    }
    .column {
        width: 330px;
    }
    .photo-item {
        width: 330px;
        height: 380px;
        margin-bottom: 35px;
    }
    .overlay h2 {
        font-size: 16px;
    }
    .overlay p {
        font-size: 13.5px;
    }
    .social-links {
        margin-top: 6px;
    }
}

@media (max-width: 580px) {
    .map iframe {
        height: 400px;
        width: 330px;
    }
}

@media (max-width: 460px) {
    .photo-item {
        width: 300px;
        height: 350px;
    }
    .map iframe {
        width: 300px;
        height: 410px;
    }
}

@media (max-width: 416px) {
    .photo-item {
        width: 270px;
        height: 310px;
    }
}