/* Секция: Контакты */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 170px;
}

.photo-item {
    position: relative;
    width: 500px;
    height: 550px;
    background-size: cover;
    background-position: center;
}


.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

h2 {
    margin: 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}