/* Первая секция: welcome*/
.welcome {
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

 padding: 50px 0 0 0;

 box-sizing: border-box;
 min-height: 90vh;

 background-color: #dff1f1;
}

.welcome__text {
    max-width: 650px;
}

.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-family: "Roboto-Medium";
    font-size: 64px;
}

.welcome__description {
    margin: 38px 21px 20px 0;
    font-size: 20px;
    opacity: 0.8;

    font-family: "Roboto-Regular";
}

.welcome__img {
    width: 600px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .welcome__img {
        max-width: 80%;
    }
}


/* Вторая секция: advantages-list*/
.advantages-list {
    margin-bottom: 68px;
}

.advantages-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.advantages-list__card {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 270px;
    overflow: hidden;
    width: 262px;
    
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.advantages-list__card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
}

.log {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 240px;
    overflow: hidden;
    width: 290px;
    
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.log:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.advantages-list__img {
    height: 175px;
    object-fit: cover;
}

.advantages-list__title {
    font-size: 20px;
    margin-bottom: 14px;
    margin-top: 26px;
}

.advantages-list__description {
    font-family: "Roboto-Regular";
    margin-bottom: 20px;
    padding: 0 19px;
}

/* Третья секция: order*/
.order {
    background-color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 51px;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order__img {
    max-width: 485px;
}

.order__text {
    max-width: 365px;
    margin-right: 100px;
}

.order__title {
    font-size: 44px;
    margin-bottom: 25px;
}

.order__description {
    font-family: "Roboto-Regular";
    opacity: 0.9;
    margin-bottom: 15px;
}

.order .btn {
    margin-top: 13px;
}

/* Четвёртая секция: Feedback*/
.feedback {
    padding: 80px;
    background-color: #FFFFFF;
}

.feedback .container {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;

    max-width:  880px;
    padding-left: 40px;
}

.feedback__text {
    margin: 0 0 80px 50px;
    width: 370px;
    text-align: center;
   
}


.feedback__description {
    font-family: "Roboto-Regular";
    opacity: 0.9;

    margin: 25px 0;
}

.feedback__author {
    font-size: 24px;
    font-style: normal;
    display: block;
}

.feedback__sub-author {
    font-size: 12px;
    opacity: 0.7;
}

/* Пятая секция: Download*/
.download {
    padding: 60px 0;
    background-color: #dff1f1;
}

.download .container {
    display: flex;
    justify-content: space-between;

    max-width: 970px;
}

.download__title {
    font-size: 30px;
    font-weight: 500;
}

/* Адаптивная вёрстка главной страницы */
@media (max-width: 1200px) {
    .welcome__text {
        padding-left: 12px;
    }

}

@media (max-width: 1000px) {
    .welcome__description {
        opacity: 1;
    }

    .order .container {
        flex-direction: column;
    }

    .order__text {
        text-align: center;
        margin-right: 0;
    }

    .order .btn {
        margin: 20px auto 0 auto;
    }
}

@media (max-width: 950px) {
    
}

@media (max-width: 835px) {
    .food-list .container {
        justify-content: space-evenly;
    }
}







