.vacancies-page {
    min-height: 450px;
}

.pull-right {
    margin-left: 25px;
}

.vacancies-page .paginate__menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vacancies-container {
    flex-wrap: wrap;
    justify-content: center;
}

.back-to-index {
    width: 54px;
    height: 54px;
    background: no-repeat url(/public/img/backToIndex.png);
    background-size: 100% auto;
    border-style: hidden;
}

.vacancies_block {
    background-color: #fff;
    border-radius: 16px;
    width: 500px;
    height: auto;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.vacancies_block h3 {
    text-align: center;
    font-weight: bold;
}

.vacancies_block p {
    font-size: 19px;
}

.vacancies_block .description {
    height: 122px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about_vacancy p{
    font-size: 19px;
}

.button_in_vacancies_block {
    display: flex;
    justify-content: space-around;
}

.button_in_vacancies_block .btn-info {
    margin: 0;
}
.about_vacancy {
    min-height: 450px;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-container button {
 margin: 0 5px;
}

@media (max-width: 1150px) {
    .btn {
        width: 111px;
        height: 49px;
    }
}

@media (max-width: 790px) {
    .vacancies_block {
        height: 400px;
    }
    .vacancies_block .description {
        height: 148px;
    }
}

@media (max-width: 670px) {
    .vacancies_block h3 {
        font-size: 20px;
    }
    .vacancies_block p {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .vacancies_block {
        height: 405px;
    }
    .vacancies_block .description {
        height: 168px;
    }
}

@media (max-width: 600px) {
    .vacancies_block {
        height: 430px;
    }
    .vacancies_block .description {
        height: 195px;
    }
    .vacancies_block h3 {
        font-size: 19px;
    }
    .vacancies_block p {
        font-size: 17px;
    }
}

@media (max-width: 470px) {
    .vacancies_block {
        height: 430px;
    }
    .vacancies_block .description {
        height: 210px;
    }
    .vacancies_block h3 {
        font-size: 18px;
    }
    .vacancies_block p {
        font-size: 16px;
    }
    .btn {
        width: 100px;
        height: 40px;
        padding: 5px 0;
    }
}

/* Для vacancies/show.blade.php*/
@media (max-width: 890px) {
    .about_vacancy h1 {
        font-size: 28px;
    }
    .about_vacancy h3 {
        font-size: 23px;
    }
    .about_vacancy h4 {
        font-size: 20px;
    }
    .about_vacancy p {
        font-size: 18px;
    }
}
